@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Libre+Baskerville');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-home-header {
  height: 150px;
  color: white;
}

.App-other-header {
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-main-pic {
  height: auto;
  width: 100%;
  border: 8px solid rgb(255,255,255);
  margin-bottom: 30px;
}

h3.announcement {
  font-family: 'Libre Baskerville', serif;
  font-weight:400;
  font-style:normal;
  line-height:1.4;
  text-transform:uppercase;
  letter-spacing:2.3px;
  font-size:16px;
  color:#ffffff;
  margin:0;
  margin-bottom: 20px;
}

time.wedding-date {
font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  font-size: 19.2px;
  color: #ffffff;
}

@media (min-width: 544px) {
  time.wedding-date {
    font-size: 22.4px !important;
  }

  h2.story {
    font-size: 33.6px !important;
  }
}

@media (min-width: 768px) {
  time.wedding-date {
    font-size: 25.6px !important;
  }

  h2.story {
    font-size: 38.4px !important;
  }

  .story-container {
    width: 84%;
    margin: 0px auto;
    text-align: left;
  }
}

@media (min-width: 992px) {
  time.wedding-date {
    font-size: 28.8px !important;
  }

  h2.story {
    font-size: 43.2px !important;
  }

}

h2.story {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: normal;
  font-size: 28.8px;
  color: #ffffff;
  margin: 50px 0px 50px 0px;
}

span.story {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16.8px;
  color: #ffffff;
  text-align: left;
}

.couple-names {
font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-transform: none;
  letter-spacing: normal;
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 20px;
}

.couple-name-home {
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 3.1px;
  font-size: 2em;
  color: #ffffff;
  margin: 0;
}

.names-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.couple-name-other {
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  font-size: 3em;
  color: #ffffff;
  margin: 0;
  display: inline;
}

.couple-and {
  font-family: cursive;
}

.and-pic-div {
  flex: 0 0 135px !important;
  margin: 0 !important;
}

.and-pic {
  heigth: auto;
  width: 100px;
}

.hor-couple {
  text-align: right !important;
  flex: 0 1 auto !important;
  margin-bottom: 0 !important;
}

.content {
  padding: 16px;
}

.sticky-tabs {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  padding: 20px 0 !important;
  background-color: #212b48;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

  margin: 0;
  list-style: none;
}

.sticky-selected-panel {
  margin: 65px auto 0px;
  width: 85%;
}

.react-tabs__tab-panel {
}

.react-tabs__tab-panel--selected {
  margin: 3px auto;
  width: 85%;
}

.sticky-tabs + .content {
  padding-top: 102px;
}

.react-tabs__tab-list {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  padding: 20px 0 !important;

  margin: 0;
  list-style: none;
}

.react-tabs__tab {
  display: list-item;
  text-align: -webkit-match-parent;

  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;

  margin: 0 15px !important;
  padding: 0 !important;
}

.react-tabs__tab--selected {
  font-size: 1.4em;
  text-decoration: underline;
}

.info {
  font-family: 'Libre Baskerville', serif;
  color: #eee;
  line-height: 1.2;
}

.footerDivider {
  margin: 50px;
}
