@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Libre+Baskerville');

body {
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16.8px;
    margin: 0;
    background-color: #1f2a4a;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    color: #ffffff;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-home-header {
  height: 150px;
  color: white;
}

.App-other-header {
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-main-pic {
  height: auto;
  width: 100%;
  border: 8px solid rgb(255,255,255);
  margin-bottom: 30px;
}

h3.announcement {
  font-family: 'Libre Baskerville', serif;
  font-weight:400;
  font-style:normal;
  line-height:1.4;
  text-transform:uppercase;
  letter-spacing:2.3px;
  font-size:16px;
  color:#ffffff;
  margin:0;
  margin-bottom: 20px;
}

time.wedding-date {
font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  font-size: 19.2px;
  color: #ffffff;
}

@media (min-width: 544px) {
  time.wedding-date {
    font-size: 22.4px !important;
  }

  h2.story {
    font-size: 33.6px !important;
  }
}

@media (min-width: 768px) {
  time.wedding-date {
    font-size: 25.6px !important;
  }

  h2.story {
    font-size: 38.4px !important;
  }

  .story-container {
    width: 84%;
    margin: 0px auto;
    text-align: left;
  }

  .events-container {
      margin: 0 8.3% !important;
  }
}

@media (min-width: 992px) {
  time.wedding-date {
    font-size: 28.8px !important;
  }

  h2.story {
    font-size: 43.2px !important;
  }

}

h2.story {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: normal;
  font-size: 28.8px;
  color: #ffffff;
  margin: 50px 0px 50px 0px;
}

span.story {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16.8px;
  color: #ffffff;
  text-align: left;
}

.couple-names {
font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-transform: none;
  letter-spacing: normal;
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 20px;
}

.couple-name-home {
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 3.1px;
  font-size: 2em;
  color: #ffffff;
  margin: 0;
}

.names-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.couple-name-other {
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  font-size: 3em;
  color: #ffffff;
  margin: 0;
  display: inline;
}

.couple-and {
    font-family: Great Vibes, cursive;
    font-size: 1.2em;}

.and-pic-div {
  flex: 0 0 135px !important;
  margin: 0 !important;
}

.and-pic {
  heigth: auto;
  width: 100px;
}

.hor-couple {
  text-align: right !important;
  flex: 0 1 auto !important;
  margin-bottom: 0 !important;
}

.content {
  padding: 16px;
}

.sticky-tabs {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  padding: 20px 0 !important;
  background-color: #212b48;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    z-index: 10;

  margin: 0;
  list-style: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.sticky-selected-panel {
  margin: 65px auto 0px;
  width: 85%;
    animation: fadein 2s;
}

.react-tabs__tab-panel {
}

.react-tabs__tab-panel--selected {
  margin: 3px auto;
  width: 85%;
    animation: fadein 2s;
}

.sticky-tabs + .content {
  padding-top: 102px;
}

.react-tabs__tab-list {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  padding: 20px 0 !important;

  margin: 0;
  list-style: none;
    z-index: 10;
}

.react-tabs__tab {
  display: list-item;
  text-align: -webkit-match-parent;

  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;

  margin: 0 15px !important;
  padding: 0 !important;
}

@media (max-width: 1138px) {
    .react-tabs__tab {
        line-height: 2;
    }
}

.react-tabs__tab--selected {
    font-size: 1.4em;
    text-decoration: underline;
}

.info {
  font-family: 'Libre Baskerville', serif;
  color: #eee;
  line-height: 1.2;
}

.footerDivider {
  margin: 50px;
}

.underlinedTabHeader {
    text-align: center;
}

.underlined {
    display: inline-block;
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
}

.panelContent {
    padding-top: 50px;
}

/* Events Tab*/

@media (min-width: 768px) {
    .events-container {
        margin: 0 8.3% !important;
    }
}

.events-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-block {
    padding: 0 15px;
    margin-left: 60px;
}

.event-description {
    position: relative;
    margin-bottom: 30px;
    text-align: left;
}

.event-marker {
    position: absolute;
    left: -60px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    background-color: #ffffff;
    color: #1f2a4a;
    cursor: pointer;
    font-family: "Libre Baskerville", serif;
    font-size: 19.2px;
    display: flex;
}

.event-name {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 17.6px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 20px;
}

p.address {
    margin: 1em 0;
    font-size: 14px;
}

a.event-map-link {
    font-family: "MrsEavesSmallCaps Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: normal;
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: initial;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 0px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
}

.events-map {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 8px solid #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.events-map1 {
    position: relative;
    height: 400px;
}

.events-map2 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.events-map2-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.events-map3 {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow: hidden;
}

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

.resize-triggers, .resize-triggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.events-map4 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);
}

/*
Registry related styles
 */
.registry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registry-location {
    margin-bottom: 30px;
    max-width: 400px;
}

.location-name {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 17.6px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 20px;
}

.location-description {
}

p.location-description-text {
    margin: 1em 0;
    font-size: 14px;
}

a.link {
    font-family: "MrsEavesSmallCaps Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: normal;
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: initial;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 0px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
}

/*
Accommodations related styles
 */
.accommodations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accommodations-description {
    max-width: 500px;
}
